*{
    box-sizing: border-box;
    direction: rtl;
}

 .title {
     color: rgb(29, 69, 178);
     font-size: 1.8rem;
     font-weight: bold;
     margin: 1rem 0;

 }

 .line{
    height: 2px;
    background-color: rgba(99, 138, 254, 0.678);
    margin: 0.5rem 0;
 }