.product{
    height: 300px;
    // width: 200px;
    position: relative;
    background-color: rgba(92, 88, 104, 0.205);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(32, 71, 178, 0.2);
    font-weight: bold;

    &:hover{
        background-color: white;
        transform: scale(1.05);

        .product-info{
            background-color: white;
            color: black;
        }
    }

    .image{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            height: 150px;
        }
    }
    

    .add-to-cart{
        animation: add-cart 3s;
        position: absolute;
       // top: -37px;
        opacity: 0;
       height: 0%;
    }

    .product-info{
        width: 100%;
       // height: 20%;
        bottom: 0;
        // position: absolute;
        background-color: rgba(0, 0, 0, 0.232);
        display: flex;
        justify-content: space-between;
        border-bottom-right-radius: 10px;
        
        
        
        border-bottom-left-radius: 10px;

        .row{
            display: flex;
            flex-direction: column;
        }

        button{
            background-color: rgb(41, 54, 88);
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0.5rem;
            padding: 0.2rem;
            

            &::before{
                content: '\1F6D2';
                font-size: 1.2rem;
            }

            label{
                font-size: 0.7rem;

            }
        }
    }


    .button-like{
        color: rgba(32, 71, 178, 0.437);
        padding: 0;
        background-color: transparent;
        font-size: 2rem;
        border: none;
        outline:none;
        position: absolute;
        top:0;
        right: 15px;
    }

    .like{ 
        font-size: 1.5rem;
        top: 7px;
        color: red;
        animation: dolike 1s ;
       
       // right:10px;
    }

    .is-new{
        border-radius: 50%;
        border: 1px solid rgb(92, 178, 249);
        height: 45px;
        width: 45px;
        font-size: 0.8rem;
        font-weight: bold;
        top: 8px;
        left: 10px;
        position: absolute;
        background: linear-gradient( rgb(179, 219, 250), rgb(24, 149, 251));
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@keyframes dolike {
    0% {
        transform: scale(0.7);
    }
    20%{
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes add-cart {
    from {
        transform: scale(1) translate(0);
        opacity: 1;
        height: 100%;
    }
    to {
        transform: scale(0.4) translate(-85%, 300px);
        opacity: 0; 
        display: none; 
    }
}